.footer {
    border-top: 1px solid black;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding: 20px 0;
    display: none;
}

.footer .title {
    font-size: 1.2em;
}

.footer .title span {
    color: red;
}

.footer .small {
    font-size: .7em;
    opacity: .5;
}

@media screen and (min-width: 600px) {
    .footer {
        display: flex;
        width: 80%;
        padding: 20px 10px;
    }
}