.socials {
    padding: 24px 0;
    display: none;
    gap: 34px;
}

.social-icon {
    cursor: pointer;
    font-size: 20px;
    color: #101828;
}

@media screen and (min-width: 600px) {
    .socials {
        display: flex;
    }
    .social-icon {
        font-size: 24px;
    }
}