.link {
    width: 100%;
    margin: 1rem 0;
    border-radius: 5px;
    background: #EAECF0;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.link:hover {
    background: #d4d7dc;
}
